
div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}

div#navbar {
	background-color: #BBBBBB;
    height: 100%;
}

div#body {
	background-color: #FFFFFF;
    height: 100%;
}